@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  font-family: 'Permanent Marker', cursive;
}

h1 {
  font-size: 4rem;
}

/* Univesal styles */

.flex {
  display: flex;
  gap: 3rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.justify-content-center {
  justify-content: center;
}

/* Components */

#canvas {
  border: 4px solid black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
}

.button {
  all: unset;
  font-family: 'Permanent Marker', cursive;
  background: transparent;
  font-size: 2rem;
  font-weight: bolder;
  padding: 0.75rem;
  cursor: pointer;
}

.color-button {
  all: unset;
  padding: 1.5rem;
  border-radius: 50%;
  background-color: #333;
  cursor: pointer;
}

.white {
  background-color: white;
  box-shadow: inset 0 0 0 5px #333;
}

.red {
  background-color: salmon;
}

.orange {
  background-color: #faae70;
}

.yellow {
  background-color: #f8db3a;
}

.green {
  background-color: #b1e052;
}

.blue {
  background-color: cornflowerblue;
}

.purple {
  background-color: mediumpurple;
}

.thickness-button {
  all: unset;
  border-radius: 50%;
  cursor: pointer;
  background-color: #333;
}

#thickness-1 {
  padding: 0.5rem;
}

#thickness-2 {
  padding: 0.75rem;
}

#thickness-3 {
  padding: 1rem;
}

#thickness-4 {
  padding: 1.25rem;
}

#thickness-5 {
  padding: 1.5rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px black solid;
  width: 20rem;
  height: 20rem;
}

.card img {
  width: 100%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin: 5rem 3rem 5rem 3rem;
}

#caption {
  width: 15rem;
  resize: none;
}
